/* Carousel container styling */
.carousel-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-image: url(../assests/carousel_banner3.png);
  background-size: cover;
  background-position: center;
}

/* Slide styling */
.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding: 10%;
  padding-top: 4%;
}

/* Carousel item styling */
.carousel-item {
  flex: 1 0 33.3333%; /* 3 items by default */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4%;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
}

/* Caption styling */
.carousel-caption {
  position: absolute;
  bottom: 0;
  width: 50%;
  color: white;
  text-align: center;
  padding-bottom: 5%;
}

/* Button styling */
.carousel-button {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  justify-content: end;
}

.carousel-button.prev {
  right: 8%;
}

.carousel-button.next {
  right: 2%;
}

/* Dots styling */
.carousel-dots {
  display: flex;
  justify-content: start;
}

.carousel-dot {
  margin: 0 5px;
  border-radius: 50%;
  background: rgb(87, 216, 184);
  border: none;
  cursor: pointer;
}

.carousel-dot.active {
  background: black;
}

/* Responsive adjustments */
@media only screen and (max-width: 1024px) {
  .carousel-item {
    flex: 1 0 50%; /* 2 items per slide on medium devices */
  }
}

@media only screen and (max-width: 640px) {
  .carousel-item {
    flex: 1 0 100%; /* 1 item per slide on small devices */
  }
  .carousel-button {
    padding: 7px;
  }
  .carousel-button.prev {
    right: 15%;
    bottom:0%;
  }
  
  .carousel-button.next {
    right: 2%;
  }
}

@media only screen and (max-width: 480px) {
  .carousel-caption {
    width: 80%; /* Adjust caption width for very small screens */
    padding-bottom: 10%;
  }
}
.carousel-button2{
  
  margin: auto;
  
}

.slick-arrow{
  font-size: 16px;
}